.sideBar {
  flex: 0.7;
  padding: 30px 20px;
}

.menuList {
  padding: 30px 150px;
}

@media only screen and (max-width: 1060px) {
  .sideBar {
    display: none;
  }
  .menuList {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    color: white;
    animation-name: menuAnimation;
    animation-duration: 100ms;
  }

  @keyframes menuAnimation {
    from {
      width: 0%;
    }
    to {
      width: 100%;
      background-color: black;
    }
  }
}
